node_modules/
dist/
*.tgz
.DS_Store
.codefuse/
.codefuse/
.claude/
.agent/
.idea/
.vscode/
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-error.log
/package-lock.json